<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>ControllerReceitas</display-name>
    <servlet-name>ControllerReceitas</servlet-name>
    <servlet-class>servlet.ControllerReceitas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerReceitas</servlet-name>
    <url-pattern>/ControllerReceitas</url-pattern>
  </servlet-mapping>
  <display-name>projeto-receitas-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControllerReceita</display-name>
    <servlet-name>ControllerReceita</servlet-name>
    <servlet-class>servlet.ControllerReceita</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerReceita</servlet-name>
    <url-pattern>/ControllerReceita</url-pattern>
    <url-pattern>/controllerreceita</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerReceitaa</display-name>
    <servlet-name>ControllerReceitaa</servlet-name>
    <servlet-class>servlet.ControllerReceitaa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerReceitaa</servlet-name>
    <url-pattern>/ControllerReceitaa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerReceitaas</display-name>
    <servlet-name>ControllerReceitaas</servlet-name>
    <servlet-class>servlet.ControllerReceitaas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerReceitaas</servlet-name>
    <url-pattern>/ControllerReceitaas</url-pattern>
    <url-pattern>/controllerreceitas</url-pattern>
  </servlet-mapping>
</web-app>